alembic==1.2.1
bcrypt==3.1.7
cffi==1.12.3
Click==7.0
django-six==1.0.4
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gevent==1.2.1
greenlet==0.4.15
gunicorn==19.0.0
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.2.2
MarkupSafe==1.1.1
passlib==1.7.0
pycparser==2.19
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
psycopg2
six==1.12.0
SQLAlchemy==1.1.5
Werkzeug==0.16.0
WTForms==2.2.1
