body {
    background-color: #134373;
    font-family: 'Quicksand', sans-serif;
}

.logo {
    height: 60px;
    width: auto;
    float: left;
    margin-top: 5px;
}


#top img {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#top h2 {
    color: #fff;
    padding: 30px;
    margin-left: 100px;
}


#pad img {
    height: 100px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#data h2 {
    padding-top: 12px;
}

#notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 560px;
    width: 100%;
    padding-left: 160px;
    line-height: 1.1;
  }
  
  .notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 140px;
    height: 140px;
    background-image: url('../img/emoji.png');
    background-size: cover;
  }
  
  .notfound .notfound-404:before {
    content: '';
    /* position: absolute; */
    width: 100%;
    height: 100%;
    -webkit-transform: scale(2.4);
        -ms-transform: scale(2.4);
            transform: scale(2.4);
    border-radius: 50%;
    background-color: #8191a1;
    z-index: -1;
  }
  
  .notfound h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #134373;
    text-transform: uppercase;
  }
  
  .notfound h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #134373;
  }
  
  .notfound p {
    font-family: 'Nunito', sans-serif;
    color: #999fa5;
    font-weight: 400;
    line-height: 1.5rem;
    padding-top: 10px;
  }
  
  .notfound a {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    font-weight: 700;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    background: #134373;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 50%;
  }
  
  @media only screen and (max-width: 768px) {
    .notfound .notfound-404 {
      width: 110px;
      height: 110px;
      margin-left: auto;
      margin-right: auto;
      display: block;

    }

    #data h2{
      font-size: 20px;
    }

    .notfound {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 110px;
    }
  }
  



nav li {
    display: inline-block;
    margin-left: 40px;
}

.navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    /* border-bottom: 2px solid yellow; */
}

.navbar-nav li:last-child{
    margin-right: 30px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: yellow;
}

footer img{
    height: 60px;
    width: auto;
    /* float: left; */
    margin-top: 22px;
    padding: 10px;

}

@media screen and (max-width: 900px) {
    #top h2 {
        font-size: 16px;
        padding-left: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 10px;
        text-align: center;

    }

    #data h2{
        font-size: 28px;
        margin-top: 10px;
    }

    #top {
        align-content: center;
        align-items: center;
    }

    #top img {
        height: 50px;
        width: auto;
        margin-top: 5px;
        margin-bottom: 15px;
        display: block;
        margin-left: 50px;
        margin-right: auto;
    }
}




.field{
    width: 100%;
    padding: 0.5em 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;     
}
.field:hover{
    background-color: rgba(0,0,0,0.1);
}
.field:focus{
    background-color: #fff;
    border: 2px solid #00b300;
    border-radius: 4px;
} 
.area{
    min-height: 150px;
}

.btn{
    width:100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #134373;
    cursor: pointer;
    outline: none;
    border:none;
    margin-bottom: 15px;
    transition: .3s;
    color: #fff;
}
.btn:hover{
    background-color: #134373;
    color: #fafcfe;
}

.text-content{
    /* box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19); */
    padding: 1.1rem 2rem;
}

.text-content:hover{
  /* box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1); */
  padding: 1.1rem 2rem;
}
