body {
    background-color: #fafcfe;
    font-family: 'Quicksand', sans-serif;
}

.logo {
    height: 60px;
    width: auto;
    float: left;
    margin-top: 5px;
}

img#side {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

img#solar {
    margin-top: 30px;
    width: 80%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


nav li {
    display: inline-block;
    margin-left: 40px;
}

.navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #134373;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgb(241, 241, 4);
}

h1#solar {
    font-weight: 700;
    color: #134373;
    font-size: 60px;
    display: block;
}

a.btn {
    background-color: #e0dd1c;
    color: #134373;
}

a.btn:hover{
    background: #134373; 
    color: #e0dd1c;
}

a.btn.learn {
    background-color: #134373;
    color: #fafcfe;
    text-align: center;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 20px;
}

footer img {
    height: 60px;
    width: auto;
    /* float: left; */
    margin-top: 22px;
    padding: 10px;

}

footer {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 80%;
	margin-top: 20px;
  }
  
  
  footer p {
	color: #fff;
	/* text-align: center; */
	margin-top: 10px;
	line-height: 2em;
  }
  footer h3{
	font-size: 22px;
	color: #e0dd1c;
  }
  footer address{
	font-size: 14px;
	color: #fefffe;
	line-height: 2em;
  }

@media screen and (max-width: 900px) {
    #top h2 {
        font-size: 16px;
        padding: 20px;
        margin-left: 50px;

    }

    #top {
        align-content: center;
        align-items: center;
    }

    #top img {
        height: 50px;
        width: auto;
        margin-top: 5px;
        margin-bottom: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1#solar {
        font-size: 40px;
        margin-top: 15px;
        text-align: center;

    }

    nav li {
        display: inline-block;
        margin-left: 30px;
        font-size: 14px;
    }

    h4#cont{
        font-size: 16px;
        font-weight: 600;
    }
    address{
        font-style: italic;
    }

    img#side{
        display: block;
    }
}
