<div class="col-md-2"></div>
            <div class="col-md-8 mt-3">
                <div id='container-form' style='background: #fafcfe; padding: 30px; border-radius: 5px'>
                    <h2 class='text-center'>
                        Calculate Page
                    </h2>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Enter your details</legend>
                            Fill in your appliances & loads here. Check our default values in the <a href="#tips">'Help!'</a> section below for more information.
                            <div class="form-group">
                                {{ form.name.label(class="form-control-label") }}
                                {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.quantity.label(class="form-control-label") }}
                                {% if form.quantity.errors %}
                                {{ form.quantity(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.quantity.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.quantity(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.power.label(class="form-control-label") }}
                                {% if form.power.errors %}
                                {{ form.power(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.power.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.power(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.hours.label(class="form-control-label") }}
                                {% if form.hours.errors %}
                                {{ form.hours(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hours.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.hours(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
<table>
    <div class="tab tab-1">
        <table id="table" border="1">
            <tr>
                <th>Device/Application</th>
                <th>Quantity (Nos)</th>
                <th>Power Consumption Rating (Watts)</th>
                <th>Hours of use of Device Per Day (Hrs/day)</th>
                <th>Total Watts-Hours per Day (WHrs/day)</th>
            </tr>
            {% for appliance in appliances %}
            <tr>
                <th>{{ appliance.name }}</th>
                <th>{{ appliance.quantity }}</th>
                <th>{{ appliance.power }}</th>
                <th>{{ appliance.hours }}</th>
                <th>{{ appliance.total }}</th>
                <th><form action="{{ url_for('delete', appliance_id=appliance.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </th>
            </tr>
            {% endfor %}
        </table>
        Your total ouput: {{ output }}Watts-Hours/day
    </div>
</table>

<div id="tips">
        HELP!
        Select the appliances you use in your house.
        Fill in the quantity of each appliance.
        Input the Wattage value of each appliance.
        In case you dont know the wattage you can use the typical values we have created for you in the dropdown below.
        However, for the most accurate information look on your appliance to find its wattage rating
        (or it amperage rating and then multiply that by its voltage to approximate its wattage).
        Then input the average number of hours the appliance is used in a day 
        <select>
        {% for key in suggest %}
        <option>{{ key }} - {{ suggest[key] }}Watts</option>
        {% endfor %}
    </select>
</div>

            </div>
            <div class="col-md-2"></div>